body {
    font: 14px/24px 'Poppins', sans-serif;
}

h1 {
    font-weight: 900;
    color: #3D3D3D;
    font-size: 60px;
    line-height: 70px;
    padding-top: 7px;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#p1 {
    font-weight: 500;
    color: #3D3D3D;
    line-height: 16px;
    padding: 68px 0 0 3px;
    margin: 0;
}

#p2 {
    color: #727272;
    padding: 5px 0 0 3px;
    margin: 0 0 44px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;    
}

.header-container {
    width: 100%;
    padding: 30px 0 0 0;
    border-bottom: solid 1px #46A35880;
    margin-bottom: 12px;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    font-size: 0px;
}

.hero-container {
    width: 100%;
    padding: 40px;
    background-color: #F5F5F580;
}

.header-logo, .header-nav {
    display: inline-block;
    font-size: 16px;
    /* vertical-align: center; */
}

.header-nav {
    text-align:center;
    vertical-align: top;
    width: calc(100% - 252px);
    padding: 0;
    font-size: 0px;
}

.header-nav li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px 0;
    font-size: 16px;
}

.header-nav li a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 21px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 16px;
}

.active a, .header-nav li a:hover {
    border-bottom: 3px solid #46A358;
    font-weight: 700;
    transform: scale(1.1);
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
}

.button {
    color: white;
    background-color: #46A358;
    border-radius: 6px;
    border: none;
    align-items: center;
    display: inline-flex;
    gap: 4px;
}

.button:hover {
    background-color: #3D8B57;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.button--small {
    padding: 8px 16px;
}

.button--large {
    padding: 10px 26px;
    font-size: 16px;
}

.button span {
    font-weight: 500;
    display: inline-block;
    vertical-align: center;
}

.logo {
    display: inline-block;
    vertical-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.main-text {
    border: #46A358;
    border-width: 1px;
    font-size: 16px;
    vertical-align: middle;
    /* padding-right: 93px; */
}

.main-text, .plant-container {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.main-text h1 span {
    color: #46A358;
}

.plant-container {
    display: inline-block;
    position: relative;
    text-align: right;
    margin-left: 93px;
}


